extends layouts/main

block content
    .form_container
        form(action=`/users${routes.changePassword}`,method="post")
            input(type="password",placeholder="old Password",name="oldPassword")
            input(type="password",placeholder="new Password",name="password1")
            input(type="password",placeholder="verify Password",name="password2")
            input(type="submit", value="change password")