extends layouts/main
include mixins/videoBlock

block content
    .home_videos
        each video in videos
            +videoBlock({
                id:video.id,
                videoFile:video.fileUrl,
                views:video.views,
                description:video.description,
                title:video.title
            })
