.social_logins
    a(href=routes.githubLogin)
        button.github_login
            span
                i.fab.fa-github
            |Continue with Github
    button.facebook_login
        span
            i.fab.fa-facebook
        |Continue with Facebook